{% extends 'base.html.twig' %}

{% block title %}Artistes{% endblock %}
{%  block sliders %}{% endblock %}
{% block body %}
   
   <div class="featured pad" id="featuredalbum">
	<div class="container">
					
		    <div class="default-heading" >
						
						<h2>♪ALL ARTISTES♪</h2>
		    </div>
	
							
            <div class="featured-element">
					<div class="row">
                        {% for artiste in artistes %}
			                   	<div class="col-md-3 col-sm-3">
							              	<div class="featured-item ">
                                <div class="featured-item-info">
										
									                   	<h4>{{ artiste.name }}</h4>
                                </div>
									              <div class="figure">
										
									                 	<img class="img-responsive" width="400" height="400" src="{{ asset('uploads/images/' ~ artiste.ArtisteImage) }} " alt="artiste_image" />
									              </div>

							 
                              </div>   
                           </div>
           

						{% endfor %}
	
          
					</div>
					
<div class="navigation" style="margin:20px auto; width:300px;" >
{{ knp_pagination_render(artistes)}}

</div>






				</div>    

	</div>
   </div>  
                   
                  

                   
                     

                     
   

{% endblock %}


