{% extends 'base.html.twig' %}

{% block title %}New Artiste{% endblock %}
{%  block sliders %}{% endblock %}

{% block body %}

 <div class="featured pad" id="featuredalbum">
	<div class="container">
    <h1>Create new Artiste</h1>

    {{ include('artiste/_form.html.twig') }}

    <a href="{{ path('artiste_index') }}">back to list</a>

    </div>
		
</div>
{% endblock %}
